@media (min-width: 992px){
    .img-responsive{
        width: auto !important;
        height: 65vh !important;
    }
    .text-about{
    margin-top: 85px;
    }
}
/*==Clases reutilizadas==*/
section h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
section p{
    font-family: 'Muli', sans-serif;
    color: #333;
    text-align: center;
}
section{
  text-align: center;
  color: white;
  transition: 0s linear;
  transition-property: background-position;
  height: 500px;
  height: 100vh;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin: 0 20px;
}
/*==Hero==*/
.principal-title{
    border: 8px #333 solid;
}
.principal-title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 20px 30px;
}
#fp-nav.right {
    right: 4px ;
    margin-top: -30px;
}
#parallax{
  background-image: url('../assets/img/prototype.jpg');
  background-color: black;
  background-attachment: fixed;
  background-position-y: -0.2;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.containerLogo{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
}
.containerLogo img{
    width: 130px;
}
.containerLogo .logo-movil{
    display: none;
}
/*==About==*/
.text-about{
    margin-bottom: 20px;
}
.text-about a{
  color: #fff;
}
.text-about a:hover{
  color: #333;
}
.text-about .btn{
  background-color: #333;
  margin-top: 10px;
}
.text-about .btn:hover{
  background-color: #fff;
  border: 2px #333 solid;
}
/*==Skills==*/
.tech-skills{
    margin-bottom: 50px;
}
/*==Iconos==*/
.dev-icon{
    font-size: 60px;
    line-height: 1.5em;
    margin-top: 16px;
    margin-bottom: 16px;
}
.dev-icon .tooltip-skills{
    width: 125px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 50%;
    border-radius: 3px;
    background-color: #3f3f3f;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom center;
    transition: all .4s cubic-bezier(1,0,.4,1);
}
.dev-icon i{
    color: #3f3f3f;
}
.dev-icon:hover i {
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.dev-icon .devicon-css3-plain:hover{
  color: #3d8fc6;
}
.dev-icon .devicon-html5-plain:hover{
  color: #e54d26;
}
.dev-icon .devicon-javascript-plain:hover{
  color: #f0db4f;
}
.dev-icon .devicon-jquery-plain-wordmark:hover{
  color: #0769ad;
}
.dev-icon .devicon-illustrator-plain:hover{
  color: #faa625;
}
.dev-icon .devicon-photoshop-plain:hover{
  color: #80b5e2;
}
.dev-icon .devicon-github-plain:hover{
  color: #181616;
}
.dev-icon .devicon-trello-plain:hover{
  color: #23719f;
}
.dev-icon .devicon-bootstrap-plain:hover{
  color: #59407f;
}
.dev-icon .devicon-foundation-plain:hover{
  color: #008cba;
}
.dev-icon .devicon-heroku-plain:hover{
  color: #6762a6;
}
.dev-icon .devicon-nodejs-plain:hover{
  color: #83cd29;
}
.dev-icon .devicon-intellij-plain:hover{
    color: #136BA2;
}
.dev-icon .devicon-git-plain:hover{
    color: #f34f29;
}
.dev-icon .devicon-sass-original:hover{
    color: #c69;
}
.dev-icon:hover .tooltip-skills{
    top: -70px;
    transition: all .3s cubic-bezier(0,0,.2,1.4);
    transform: translateX(-50%) scale(1);
}
.dev-icon .tooltip-skills:after {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #3f3f3f;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -9px;
    transform: translateX(-50%);
}
/*==Work==*/
.fp-tableCell{
    height: 80vh !important;
}
.carousel-control.right, .carousel-control.left {
    background-image: none; 
}
.glyphicon-chevron-left{
    color: #333;
}
.glyphicon-chevron-right{
    color: #333;
}
.item:hover{
    background-color: transparent;
}
.item .text-center{
    margin-left: 25px;
    margin-right: 25px;
}
.item h3{
    color: #333;
}
.img-initial{
    background-image: url(../assets/img/prototype.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
}
/*==Contact==*/
#contact #form1 #header{
    display: none;
}
.info[class] {
    display: none !important;
}
#contact .buttons div a{
    display: none !important;
}
.formFooter{
    display: none !important;
}
.formFooter-heightMask{
    display: none !important;
}
.hidden{
    display: none;
}
@media (min-width: 768px) {
    .dev-icon {
    font-size: 100px;
    }
    .container-dev-icon{
        margin: 0 8%;
    }
}
@media (max-width: 768px) {
  .containerLogo .logo-desktop{
      display: none;
  }
  .containerLogo .logo-movil{
      display: block;
  }
  .containerLogo img{
      width: 50px;
  }
  .img-responsive{
      display: none;
    }
}

@media (max-width: 400px) {
    .containerLogo img {
        width: 35px;
    }
    section h2{
        font-size: 32px;
    }
}
.icon-phone_iphone{
    font-size: 30px;
    color: #525252;
}
.icon-mail_outline {
    font-size: 30px;
    color: #525252;
}
.icon-linkedin2{
    font-size: 30px;
    color: #525252;
    padding-left:10px;
    padding-right:10px;
}
.icon-dribbble{
    font-size: 30px;
    color: #525252;
    padding-left:10px;
    padding-right:10px;
}
.icon-flickr2{
    font-size: 30px;
    color: #525252;
    padding-left:10px;
    padding-right:10px;
}
.icon-linkedin2:hover{
    color: #0376b6;
}
.icon-dribbble:hover{
    color: #eb4c89;
}
.icon-flickr2:hover{
    color: #0063ca;
}